#clouds {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#clouds > * {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  margin-left: 100%;
  animation: clouds 40s linear infinite;
}
#clouds > *:nth-child(6n),
#clouds > *:nth-child(6n+1),
#clouds > *:nth-child(6n+2) {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAAwAgMAAADcJZSMAAAADFBMVEVHcEz///8AAAA8vPwnjt/eAAAAAXRSTlMAQObYZgAAAJdJREFUeF6d0iEOwzAMRuGSEZ9u5BGTXM3EJPcL9rTIqlrFzaT9KP6kx3Lkes/HEwjYFsRBt+CAyi/AbQ8N9BmENhg7cAbwDNLJmdTgnOBWgXBOKeHFZWYriF9BdQXntr9A7mArHN4AaFkUIIwGjEwWmE0MIqahJUBEtC/BuwLpEBCzsApmpACe9wriWIcudqyQ0vP7F/ABd2LVrY5Id1QAAAAASUVORK5CYII=);
  width: 64px;
  height: 48px;
  top: 10%;
}
#clouds > *:nth-child(6n):nth-child(6n+1),
#clouds > *:nth-child(6n+1):nth-child(6n+1),
#clouds > *:nth-child(6n+2):nth-child(6n+1) {
  top: 30%;
  animation-delay: 26.66666667s;
}
#clouds > *:nth-child(6n):nth-child(6n+2),
#clouds > *:nth-child(6n+1):nth-child(6n+2),
#clouds > *:nth-child(6n+2):nth-child(6n+2) {
  top: 50%;
  animation-delay: 13.33333333s;
}
#clouds > *:nth-child(6n+3),
#clouds > *:nth-child(6n+4),
#clouds > *:nth-child(6n+5) {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAAAwAgMAAACTeJdcAAAADFBMVEVHcEz///8AAAA8vPwnjt/eAAAAAXRSTlMAQObYZgAAAKtJREFUeF6t1CEWw0AIRVFMDaureQYzW8NgZn+jqWhJzmkTEtFvnrj+y2dzbq31oODVW6ABVr0FAZhW7wLh1XswwKrXoIzFwqrXECwAq16BTr7m2kPwA+EdKD8zWnhwMPdz0DgCs3MIDvdX0GPwc5AYAAzYi0kDyhrAAqqANyAxcpEJqwpYC5CZI3MvPDvQCQm52GvegUiAAWw1lx408Alzq8sFiM73vVSlgRc+OWXWAWlqigAAAABJRU5ErkJggg==);
  width: 96px;
  height: 48px;
  top: 20%;
  animation-delay: 20s;
}
#clouds > *:nth-child(6n+3):nth-child(6n+4),
#clouds > *:nth-child(6n+4):nth-child(6n+4),
#clouds > *:nth-child(6n+5):nth-child(6n+4) {
  top: 40%;
  animation-delay: 6.66666667s;
}
#clouds > *:nth-child(6n+3):nth-child(6n+5),
#clouds > *:nth-child(6n+4):nth-child(6n+5),
#clouds > *:nth-child(6n+5):nth-child(6n+5) {
  top: 60%;
  animation-delay: 33.33333333s;
}
@keyframes clouds {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -100%;
  }
}
